body {
  font-family: 'Roboto', sans-serif;
  background-color: #343a40;
  color: #dee2e6;
  margin: 0;
  padding: 0;
  background-image: url('../img/mtg_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.card {
  border: 2px solid #78726d;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f2f0ed;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  align-items: center;
}

.card-image {
  max-width: 120px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-details {
  flex: 1;
  color: #333;
}

.card-details h3 {
  margin-top: 0;
  color: #333;
  font-weight: 600;
}

.card-details p {
  margin-bottom: 10px;
}

.card-details a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #78726d;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.card-details a:hover {
  background-color: #5c5650;
}

#back-to-search-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #b52b31;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

#back-to-search-link:hover {
  background-color: #8c2126;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f2f0ed;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #f2f0ed;
}

input {
  padding: 12px;
  border: 1px solid #78726d;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  background-color: #e9e7e2;
  color: #333;
}

input:focus {
  outline: none;
  border-color: #b52b31;
  box-shadow: 0 0 0 0.2rem rgba(181, 43, 49, 0.25);
}

button {
  padding: 12px 24px;
  margin-top: 15px;
  background-color: #78726d;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #5c5650;
}

#results {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 8px;
  display: none;
}

.result-item {
  border: 1px solid #78726d;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f2f0ed;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.result-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .container {
      width: 95%;
      margin: 20px auto;
      padding: 15px;
  }

  .form-group {
      width: 100%;
  }

  .card-content {
      flex-direction: column;
      align-items: flex-start;
  }

  .card-image {
      max-width: 100%;
      margin-bottom: 10px;
  }

  .card-details {
      text-align: left;
      margin-top: 10px;
  }

  button {
      font-size: 14px;
  }
}

.card-details a.view-details-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #78726d;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.card-details a.view-details-link:hover {
  background-color: #5c5650;
}

@media (max-width: 600px) {
  .card-details a.view-details-link {
    display: none;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    margin: 20px auto;
    padding: 15px;
    box-sizing: border-box;
  }

  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }

  button {
    font-size: 14px;
  }

  button[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}